name: Build and deploy book

# Run this when a file within the public_pages folder on the main branch has been modified
on:
  push:
    branches:
    - main
    paths:
     - public_pages/**

permissions:
  contents: write     

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v5

      # Install dependencies
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: pip # Implicitly uses requirements.txt for cache key

      - name: Install dependencies
        run: pip install -r requirements.txt

      # Build the book
      - name: Build the book
        run: |
          jupyter-book build public_pages/

      - name: "Deploy book to GitHub Pages"
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public_pages/_build/html  